* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  background-color: rgba(0, 0, 0, 0.841);
  font-family: "Ubuntu", sans-serif;
}

#header .header_all .navbar {
  width: 100%;
  height: 108px;
  border-radius: 40px;
  padding: 20px 20px 20px 10px;
  margin: auto;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.633);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header_all .navbar .active {
  color: rgba(4, 217, 241, 0.91);
}
#header .header_all .navbar .logo {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header .header_all .navbar .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#header .header_all .navbar .logo h2 {
  display: flex;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
#header .header_all .navbar .logo h2 h3 {
  display: flex;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
#header .header_all .navbar .link {
  display: flex;
  align-items: center;
  gap: 15px;
}
#header .header_all .navbar .link a {
  color: #fff;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  transition: 0.4s;
}
#header .header_all .navbar .link a:hover {
  color: rgba(4, 217, 241, 0.91);
}
#header .header_all .navbar .link .slash svg {
  width: 28px;
  height: 59px;
}
#header .header_all .navbar .link .userpanel {
  border: 1px solid rgba(4, 217, 241, 0.91);
  padding: 10px;
  transition: 0.4s;
  cursor: pointer;
}
#header .header_all .navbar .link .userpanel a {
  fill: rgba(4, 217, 241, 0.91);
}
#header .header_all .navbar .link .userpanel:hover {
  border: 1px solid #fff;
  padding: 15px;
}
#header .header_all .navbar .link .userpanel:hover a {
  fill: #fff;
}

#main .main_all .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
}
#main .main_all .flex .top .content {
  width: 380px;
  background: rgba(34, 34, 34, 0.568627451);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#main .main_all .flex .top .content h2 {
  font-size: 2em;
  color: rgba(4, 217, 241, 0.91);
  text-transform: uppercase;
}
#main .main_all .flex .top .content form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
#main .main_all .flex .top .content form .server {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(21, 21, 21, 0.3960784314);
  padding: 15px;
  border-radius: 30px;
}
#main .main_all .flex .top .content form .server .img {
  width: 120px;
  height: 80px;
}
#main .main_all .flex .top .content form .server .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#main .main_all .flex .top .content form .server .info {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
#main .main_all .flex .slider {
  width: 750px;
  height: 475px;
}
#main .main_all .flex .slider .swiper {
  width: 100%;
  height: 100%;
}
#main .main_all .flex .slider .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .main_all .flex .slider .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#footer .footer_all .footer {
  width: 100%;
  height: 280px;
  margin-top: 90px;
  background-color: #121a29;
}
#footer .footer_all .footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .footer_all .footer .footer_top .img {
  width: 200px;
  height: 200px;
}
#footer .footer_all .footer .footer_top .img img {
  width: 100%;
  height: 100%;
}
#footer .footer_all .footer .footer_top .sehifeler {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
#footer .footer_all .footer .footer_top .sehifeler h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
}
#footer .footer_all .footer .footer_top .sehifeler a {
  color: rgb(4, 217, 241);
  text-decoration: none;
  font-size: 15px;
  transition: 0.4s;
}
#footer .footer_all .footer .footer_top .sehifeler a:hover {
  color: rgba(4, 217, 241, 0.366);
}
#footer .footer_all .footer .footer_top .oyunlar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
#footer .footer_all .footer .footer_top .oyunlar h3 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
}
#footer .footer_all .footer .footer_top .oyunlar a {
  color: rgb(4, 217, 241);
  text-decoration: none;
  font-size: 15px;
  transition: 0.4s;
}
#footer .footer_all .footer .footer_top .oyunlar a:hover {
  color: rgba(4, 217, 241, 0.366);
}
#footer .footer_all .footer .xet {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5333333333);
}
#footer .footer_all .footer .footer_bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#footer .footer_all .footer .footer_bottom h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
#footer .footer_all .footer .footer_bottom .link {
  display: flex;
  gap: 10px;
}
#footer .footer_all .footer .footer_bottom .link i {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}
#footer .footer_all .footer .footer_bottom .link i:hover {
  color: rgba(4, 217, 241, 0.91);
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */